# Compiled Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local development and debug files
Debug.txt
scratch.txt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Compiled application binaries
/bin/
my-nats-app

# Dependency directory created by `go mod vendor`.
# It's common practice to not commit this directory and let `go mod` handle it.
/vendor/

# Local environment variables. It's a security risk to commit these.
.env

# IDE-specific configuration files
.idea/
.vscode/

# OS-specific files (e.g., macOS)
.DS_Store